In [82]:
import pandas as pd

from pathlib import Path

In [86]:
#earthquake_df = pd.read_csv("CSV Data/archive/earthquake_1995-2023.csv")
earthquake_df = Path("CSV Data/archive/earthquake_1995-2023.csv")

In [87]:
earthquake_df= pd.read_csv(earthquake_df)

In [88]:
earthquake_df = pd.read_csv(csv_path)
earthquake_df.head()

,title,magnitude,date_time,cdi,mmi,alert,tsunami,sig,net,nst,dmin,gap,magType,depth,latitude,longitude,location,continent,country
0,"M 6.5 - 42 km W of Sola, Vanuatu",6.5,16-08-2023 12:47,7,4,green,0,657,us,114,7.177000,25.0,mww,192.955,-13.8814,167.1580,"Sola, Vanuatu",NaN,Vanuatu
1,"M 6.5 - 43 km S of Intipucá, El Salvador",6.5,19-07-2023 00:22,8,6,yellow,0,775,us,92,0.679000,40.0,mww,69.727,12.8140,-88.1265,"Intipucá, El Salvador",NaN,NaN
2,"M 6.6 - 25 km ESE of Loncopué, Argentina",6.6,17-07-2023 03:05,7,5,green,0,899,us,70,1.634000,28.0,mww,171.371,-38.1911,-70.3731,"Loncopué, Argentina",South America,Argentina
3,"M 7.2 - 98 km S of Sand Point, Alaska",7.2,16-07-2023 06:48,6,6,green,1,860,us,173,0.907000,36.0,mww,32.571,54.3844,-160.6990,"Sand Point, Alaska",NaN,NaN
4,M 7.3 - Alaska Peninsula,7.3,16-07-2023 06:48,0,5,NaN,1,820,at,79,0.879451,172.8,Mi,21.000,54.4900,-160.7960,Alaska Peninsula,NaN,NaN

In [89]:
earthquake_df.dtypes

title         object
magnitude    float64
date_time     object
cdi            int64
mmi            int64
alert         object
tsunami        int64
sig            int64
net           object
nst            int64
dmin         float64
gap          float64
magType       object
depth        float64
latitude     float64
longitude    float64
location      object
continent     object
country       object
dtype: object

In [90]:
earthquake_df.drop(columns=['continent', 'mmi', 'dmin'], inplace=True)
earthquake_df.head()

,title,magnitude,date_time,cdi,alert,tsunami,sig,net,nst,gap,magType,depth,latitude,longitude,location,country
0,"M 6.5 - 42 km W of Sola, Vanuatu",6.5,16-08-2023 12:47,7,green,0,657,us,114,25.0,mww,192.955,-13.8814,167.1580,"Sola, Vanuatu",Vanuatu
1,"M 6.5 - 43 km S of Intipucá, El Salvador",6.5,19-07-2023 00:22,8,yellow,0,775,us,92,40.0,mww,69.727,12.8140,-88.1265,"Intipucá, El Salvador",NaN
2,"M 6.6 - 25 km ESE of Loncopué, Argentina",6.6,17-07-2023 03:05,7,green,0,899,us,70,28.0,mww,171.371,-38.1911,-70.3731,"Loncopué, Argentina",Argentina
3,"M 7.2 - 98 km S of Sand Point, Alaska",7.2,16-07-2023 06:48,6,green,1,860,us,173,36.0,mww,32.571,54.3844,-160.6990,"Sand Point, Alaska",NaN
4,M 7.3 - Alaska Peninsula,7.3,16-07-2023 06:48,0,NaN,1,820,at,79,172.8,Mi,21.000,54.4900,-160.7960,Alaska Peninsula,NaN

In [58]:
earthquake_df.count()

title        1000
magnitude    1000
date_time    1000
cdi          1000
alert         449
tsunami      1000
sig          1000
net          1000
nst          1000
gap          1000
magType      1000
depth        1000
latitude     1000
longitude    1000
location      994
country       651
dtype: int64

In [59]:
earthquake_df['location'].value_counts()

Kokopo, Papua New Guinea     29
Sola, Vanuatu                19
Kirakira, Solomon Islands    18
Panguna, Papua New Guinea    17
Kimbe, Papua New Guinea      15
                             ..
Aniso, Peru                   1
Piti Village, Guam            1
Sangay, Philippines           1
El Aguilar, Argentina         1
Cabatuan, Philippines         1
Name: location, Length: 502, dtype: int64

In [61]:
earthquake_df.isnull()

,title,magnitude,date_time,cdi,alert,tsunami,sig,net,nst,gap,magType,depth,latitude,longitude,location,country
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
4,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False
996,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,True
997,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False
998,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False
999,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False

In [62]:
earthquake_df.isnull().sum()

title          0
magnitude      0
date_time      0
cdi            0
alert        551
tsunami        0
sig            0
net            0
nst            0
gap            0
magType        0
depth          0
latitude       0
longitude      0
location       6
country      349
dtype: int64

In [93]:
earthquake_df.dropna(inplace=True)
earthquake_df

,title,magnitude,date_time,cdi,alert,tsunami,sig,net,nst,gap,magType,depth,latitude,longitude,location,country
0,"M 6.5 - 42 km W of Sola, Vanuatu",6.5,16-08-2023 12:47,7,green,0,657,us,114,25.0,mww,192.955,-13.8814,167.1580,"Sola, Vanuatu",Vanuatu
2,"M 6.6 - 25 km ESE of Loncopué, Argentina",6.6,17-07-2023 03:05,7,green,0,899,us,70,28.0,mww,171.371,-38.1911,-70.3731,"Loncopué, Argentina",Argentina
8,M 6.6 - Panama-Colombia border region,6.6,25-05-2023 03:05,6,green,1,733,us,50,129.0,mww,10.000,8.8894,-77.1231,Panama-Colombia border region,Colombia
13,"M 7.1 - 170 km SSE of Teluk Dalam, Indonesia",7.1,24-04-2023 20:00,9,green,0,838,us,70,58.0,mww,15.462,-0.7810,98.5339,"Teluk Dalam, Indonesia",Indonesia
16,"M 7.0 - 96 km N of Tuban, Indonesia",7.0,14-04-2023 09:55,5,green,0,818,us,131,31.0,mww,594.028,-6.0255,112.0330,"Tuban, Indonesia",Indonesia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,"M 6.7 - 33 km SSW of Lata, Solomon Islands",6.7,07-02-2013 18:59,0,green,1,691,us,387,26.5,mww,11.000,-10.9970,165.6550,"Lata, Solomon Islands",Solomon Islands
447,"M 7.0 - 33 km NW of Lata, Solomon Islands",7.0,06-02-2013 01:54,0,green,0,754,us,445,17.5,mww,8.800,-10.4990,165.5880,"Lata, Solomon Islands",Solomon Islands
450,"M 6.9 - 18 km SSW of Obihiro, Japan",6.9,02-02-2013 14:17,6,yellow,0,814,us,686,28.0,mww,107.000,42.7700,143.0920,"Obihiro, Japan",Japan
451,"M 6.8 - 54 km N of Vallenar, Chile",6.8,30-01-2013 20:15,6,green,0,771,us,596,19.3,mww,45.000,-28.0940,-70.6530,"Vallenar, Chile",Chile
542,"M 7.2 - 12km SW of Delta, B.C., MX",7.2,04-04-2010 22:40,9,red,0,2910,ci,10,239.0,mw,9.987,32.2862,-115.2950,"Delta, B.C., MX",Mexico

In [94]:
earthquake_df.sort_values('location')

,title,magnitude,date_time,cdi,alert,tsunami,sig,net,nst,gap,magType,depth,latitude,longitude,location,country
225,"M 7.3 - 29 km S of ?alabja, Iraq",7.3,12-11-2017 18:18,8,red,0,2790,us,0,33.0,mww,19.000,34.9109,45.9592,"?alabja, Iraq",Iran
335,"M 6.8 - 32 km SE of ?funato, Japan",6.8,12-05-2015 21:12,8,green,1,831,us,0,8.0,mww,35.000,38.9056,142.0320,"?funato, Japan",Japan
324,"M 7.0 - 234 km W of Abepura, Indonesia",7.0,27-07-2015 21:41,9,green,1,762,us,0,12.0,mww,48.000,-2.6286,138.5280,"Abepura, Indonesia",Indonesia
437,"M 7.0 - 260 km WSW of Abepura, Indonesia",7.0,06-04-2013 04:42,3,green,1,755,us,640,11.4,mww,66.000,-3.5170,138.4760,"Abepura, Indonesia",Indonesia
83,"M 7.0 - Acapulco, Mexico",7.0,08-09-2021 01:47,8,red,1,2504,us,0,43.0,mww,20.000,16.9502,-99.7877,"Acapulco, Mexico",Mexico
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33,M 7.0 - Vanuatu,7.0,08-01-2023 12:32,8,green,1,768,us,116,36.0,mww,29.000,-14.9383,166.8780,Vanuatu,Vanuatu
443,"M 6.9 - 2 km NNE of Yacuanquer, Colombia",6.9,09-02-2013 14:16,5,green,1,904,us,562,23.7,mww,145.000,1.1350,-77.3930,"Yacuanquer, Colombia",Colombia
45,"M 6.9 - 90 km E of Yujing, Taiwan",6.9,18-09-2022 06:44,9,yellow,1,887,us,215,34.0,mww,10.000,23.1444,121.3070,"Yujing, Taiwan",Taiwan
74,"M 6.6 - northern Qinghai, China",6.6,07-01-2022 17:45,9,orange,0,1012,us,0,13.0,mww,13.000,37.8167,101.2990,"northern Qinghai, China",People's Republic of China
17,M 6.5 - near the east coast of the Kamchatka P...,6.5,03-04-2023 03:06,7,yellow,1,655,us,104,30.0,mww,105.631,52.7772,158.4840,"the Kamchatka Peninsula, Russia",Russian Federation (the)

In [100]:
earthquake_df.sort_values("gap", ascending=False)

,title,magnitude,date_time,cdi,alert,tsunami,sig,net,nst,gap,magType,depth,latitude,longitude,location,country
542,"M 7.2 - 12km SW of Delta, B.C., MX",7.2,04-04-2010 22:40,9,red,0,2910,ci,10,239.0,mw,9.987,32.2862,-115.2950,"Delta, B.C., MX",Mexico
209,"M 6.9 - 18 km SSW of Leilani Estates, Hawaii",6.9,04-05-2018 22:32,7,yellow,1,1392,hv,63,210.0,mw,5.810,19.3182,-155.0000,"Leilani Estates, Hawaii",United States of America
8,M 6.6 - Panama-Colombia border region,6.6,25-05-2023 03:05,6,green,1,733,us,50,129.0,mww,10.000,8.8894,-77.1231,Panama-Colombia border region,Colombia
43,"M 6.8 - 55 km SSW of Aguililla, Mexico",6.8,22-09-2022 06:16,8,yellow,1,1179,us,175,92.0,mww,20.000,18.3300,-102.9130,"Aguililla, Mexico",Mexico
216,"M 7.2 - 4 km S of Pinotepa de Don Luis, Mexico",7.2,16-02-2018 23:39,7,yellow,1,1384,us,0,82.0,mww,22.000,16.3855,-97.9787,"Pinotepa de Don Luis, Mexico",Mexico
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,"M 6.5 - 19 km SSW of Lefkáda, Greece",6.5,17-11-2015 07:10,7,orange,0,1018,us,0,0.0,mww,11.000,38.6700,20.6000,"Lefkáda, Greece",Greece
418,"M 6.5 - 29 km SE of Blenheim, New Zealand",6.5,16-08-2013 02:31,9,yellow,1,690,us,0,0.0,mww,8.200,-41.7340,174.1520,"Blenheim, New Zealand",New Zealand
182,"M 7.1 - 1 km SE of Point MacKenzie, Alaska",7.1,30-11-2018 17:29,8,orange,1,1790,ak,0,0.0,mw,46.700,61.3464,-149.9550,"Point MacKenzie, Alaska",United States of America
294,"M 7.1 - 47 km ESE of Pedro Bay, Alaska",7.1,24-01-2016 10:30,7,green,1,1496,ak,0,0.0,mw,125.600,59.6204,-153.3390,"Pedro Bay, Alaska",United States of America
79,"M 6.9 - 112 km E of Chignik, Alaska",6.9,11-10-2021 09:10,8,green,1,995,ak,0,0.0,mww,51.600,56.2581,-156.4920,"Chignik, Alaska",United States of America